.y-tabs__list {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.y-tabs_theme_normal {
}

.y-tabs__item {
  float: left;
  margin: 10px 20px;
}

.y-tabs__item a {
  display: inline-block;
  text-decoration: none;
  color: #3498DB;
}

.y-tabs__item:not(.y-tabs__item_active) a:hover,
.y-tabs__item_active a {
  color: #000;
  border-bottom: 2px solid #fc0;
}
